.trafficTop {
background-color: black;
width: 10px;
height: 70px;
margin-left: 82px;
}

.container {
    background-color: black;
    width: 56px;
    height: 178px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}

.light{
    width: 55px;
    height: 55px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    &.red{background-color: red;}
    &.yellow{background-color: yellow;}
    &.green{background-color: green;}
    &.inactive {background-color: gray;
    }
}
